.profile-page-cover {
    height: 175px;
    background-size: cover;
    background-position: center;
}

.profile-page-avatar {
    position: absolute;
    bottom: -45px;
    left: 25px;
    width: 120px;
    height: 120px;
    border: 3px solid var(--bs-purple);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.stories.carousel {
    white-space: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

.scroll-enable.stories.carousel::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    border-radius: 5px;
    background-color: #fff;
}

.scroll-enable.stories.carousel::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    background-color: #e1e4e6;
}

.scroll-enable.stories.carousel::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #fff;
}

.stories .story>.item-link {
    text-decoration: none;
    color: var(--bs-gray-800);
}

.stories-square.stories .story>.item-link>.item-preview {
    border-radius: 5px;
    height: 150px !important;
    -o-object-fit: cover;
    object-fit: cover;
    width: auto !important;
    max-height: inherit !important;
    padding: 0 !important;
}

.stories-square.stories.carousel .story>.item-link>.info {
    position: absolute;
    left: 10px;
    bottom: 6px;
    color: #fff;
    text-align: left;
    z-index: 1;
}

.stories-square.stories.carousel .story {
    border-radius: 0;
    height: 150px !important;
    position: relative;
    width: 120px !important;
    max-width: inherit !important;
    margin-bottom: 4px;
}

.h-150px {
    height: 150px !important;
}

.mb-n3 {
    margin-bottom: -1rem !important;
}